{% extends "base.html" %}

{% block content %}
<h3 class="display-5">Log In</h3>
<form method="POST">
    {{ form.csrf_token() }}
    <div class="form-group">
        {{ form.username.label}}
        {{ form.username(class_="form-control")}}
        {% for error in form.username.errors %}
        <span class="badge bg-warning text-dark">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class_="form-control")}}
        {% for error in form.password.errors %}
        <span class="badge bg-warning text-dark">{{ error }}</span>
        {% endfor %}
    </div>
    {{ form.submit(class_="btn btn-secondary mt-2") }}
</form>
{% endblock %}
