{% extends "base.html" %}

{% block content %}

{% if password %}
<form method="POST">
    <h2>This pastebin is private, please enter password</h2>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
    </div>
    <div align="center">
        <button type="submit" class="btn btn-primary mt-2">Enter</button>
    </div>
</form>
{% else %}
<h1 class="display-5 text-break">Name: {{ pastebin.title }}</h1>
<small>Created on: {{ pastebin.date }}</small>
{% if pastebin.expire_date %}
<small id="expire_date">This pastebin will expire in: {{ pastebin.expire_date - time }}</small>
{% endif %}
<textarea rows="25" style="height:100%" name="pastebin" id="pastebin" class="form-control"
    readonly>{{ pastebin.content }}</textarea>
<br>
<button id="copy-all" class="btn btn-primary">Copy all</button>
<a href="/raw/{{ pastebin.link }}"><button id="raw" class="btn btn-primary">Raw</button></a>
<a href="/download/{{ pastebin.link }}"><button id="download" class="btn btn-primary">Download</button></a>
{% if user.id == pastebin.user_id %}
<a href="/delete/{{ pastebin.link }}"><button class="btn btn-danger">Delete</button></a>
{% endif %}
<script type="text/javascript" src="{{ url_for('static',filename='js/copy_all.js') }}"></script>
{% endif %}

{% if pastebin.expire_date %}

{% endif %}
{% endblock %}
