{% extends "base.html" %} 

{% block content %}
{% for pastebin in user.pastebins %}
    <ul>
      <li class="list-group-item">
        <h2>Pastebin with id: {{ pastebin.id }} and link {{ pastebin.link }}. Created on {{ pastebin.date }}Owned by user with id {{ pastebin.user_id }}</h2>
        <textarea rows="10" style="height:100%" class="form-control mt-5" readonly>{{ pastebin.content }}</textarea>
          <br />
          <div align="center">
            <a href="/delete/{{ pastebin.link }}"><button class="btn btn-primary">Delete</button></a>
          </div>
      </li>
    </ul>
      {% endfor %}

    
{% endblock %}
